.info {
    background-image: url(nieve.gif);
    height: 100vh; 
    background-size: cover;
    color: lightcyan;
}
.card-img-top {
    height: 250px;
    border: 10PX SOLID crimson;
}
.card-title{
    border: 10PX SOLID crimson;
}
.card-text {
    font-size: 1.5rem;
    border: 10PX SOLID crimson;
}
.card-body{
    border: solid 10PX crimson;
    background-color: rgb(7, 1, 22);
    color: white;
}
.card-img-top {
    height: 250px;
    border: 10PX SOLID crimson;
}
footer{
    background-color: rgb(32, 226, 161);
    color: black;
    padding-top: 20px;
    margin-top:500px;
    text-align: center;
    }
    body nav div.container-fluid{
        background-color: rgb(32, 226, 161);
}

