body{
    background-image: url(paisaje.jpg);
    height: 100vh; 
    background-size: cover;
}
footer{
background-color: rgb(32, 226, 161);
color: aliceblue;
padding-top: 20px;
margin-top:500px;
text-align: center;}

div.row{
    font-size: 80px;
    color: rgb(200, 255, 0);
}
div.contain{
    margin-top: 170px;
}
h2{
    color: rgb(225, 17, 17);
}
h2:hover{
        background-color: black;
        color: gold;
}
body nav div.container-fluid{
    background-color: rgb(32, 226, 161);
}
